*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
img{
    display: inline;
    margin-top: 20px;
}
p{
    display: inline;
}
#bsq{
    width: 100%;
    height: 45vh;
    background-image: linear-gradient(rgb(92, 14, 194),rgb(41, 2, 182) ,blue);
    color: darkgray;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
}
#bci{
    border-radius: 100px;
    background-image:linear-gradient(rgb(30, 0, 139),rgb(73, 73, 212) ) ;
    width: 150px;
    height:  150px;
    margin: auto;
    margin-top: 60px;
}
#kis{
    display: grid;
    grid-template-rows: 5;
    gap: 20px;
}
.bar{
    border-radius: 20px;
    height: 60px;
    margin: 0 5%;
    width: 90%;
}
#re{
    background-color: rgb(253, 237, 237);
}
#me{
    background-color: rgb(252, 252, 233);
}
#ve{
    background-color: rgb(230, 247, 230);
}
#vi{
    background-color: rgb(231, 231, 247);
}
#ms{
    position: relative;
    top: 40px;
    font-size: larger;
}
#bci h1{
    position: relative;
    top: 30px;
    font-size: 50px;
    color: white;
}
#bci p{
    position: relative;
    top: 45px;
}
h2{
    color: white;
}
.ho{
    font-size: 20px;
}
button{
    background-color: rgba(26, 25, 73, 0.904);
    color: white;
    width: 90%;
    border-radius: 20px;
    height: 60px;
    margin-left: 5%;
}
#jo{
    margin-left: 5%;
    margin-top: 20px;
    font-size: large;
}
#gh{
    margin: 0 20px 0 20px;
}
#bsq h2{
    margin-top: 20px;
}
@media  screen and (min-width: 800px) {
    #nagy{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;


    }
    #bsq{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 400px;
        border-radius: 20px;
        height: 50vh;
        margin-left: auto;
        border: 2px solid white;
    }
    #kis{
        grid-column-start: 2;
        grid-column-end: 3;
        height: 50vh;
        background-color: white;
        width: 450px;
    }
    body{
        background-color: rgb(242, 245, 245);
    }
    #nnagy{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 3;
        height: 100%;
    }
    #fol{
        grid-column: span 1 / 4;
        height: 25vh
    }
    #bal{
        grid-row: span 1 / 4;
    }
}